body {
    font-family: Arial;
    margin: 0;
    background-image: url("https://images.squarespace-cdn.com/content/v1/664c7ae50eea9c731b37e817/38df9671-1633-4828-b705-5972dadf6a57/OBMC+Quadrangle+2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-container {
    background: white;
    width: 90%;
    margin: 40px auto;
    padding: 30px;

    border: 2px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}


.team-title {
    text-align: center;
}

.team-member {
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 10px;
}

.team-member img {
    width: 80px;
    height: 80px;
    border-radius: 50%; /* makes image circular */
    object-fit: cover;
}



.contact-text {
    color: blue;
}


.main-header {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 30px 0;
    width: 90%;
    margin: 20px auto;
    border-radius: 20px;
}
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer {
    background-color: #0d6efd; /* Bootstrap blue */
    color: white;
    padding: 20px 0;
    margin-top: 50px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}
