body{
    background-image: url('https://images.squarespace-cdn.com/content/v1/664c7ae50eea9c731b37e817/3f56ca99-49c1-4fdb-94b5-1cf32a5495bf/Website+Detail-03.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: 'Gill Sans';
    src: url(Gill Sans.otf) format('otf');
    font-weight: normal;
    font-style: normal;
}
.custom-navbar {
    padding: 20px 0;
}
.nav-link {
    color: white;
    font-size: 15px;
    margin: 0 8px;
    font-family: 'Gill Sans', sans-serif;
}
.nav-link.active {
    border-bottom: 2px solid #003f7d
}
.portal-btn {
    background-color: #003f7d;
    color: white;
    border-radius: 30px;
    padding: 20px 35px;
    font-size: 16px;
    font-family: 'Gill Sans', sans-serif;
    margin-left: 40px;
}
.portal-btn:hover {
    background-color: #002b57;
    color: white;
}
.header-line {
    height: 5px;
    background-color: #003f7d;
}
.nav-item{
    margin-left: 40px;
    background-color: #003f7d;
    border-radius: 40px;
    padding: 10px;
    font-family: 'Gill Sans', sans-serif;
}
.nav-item:hover{
    margin-left: 40px;
    background-color: #fcda5e;
    border-radius: 40px;
    padding: 10px;
    font-family: 'Gill Sans', sans-serif;
}
.hero {
  text-align: center;
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}
.hero-title{
    font-size: 70px;
    color: #003f7d;
    font-family: 'Gill Sans', sans-serif;
}
.hero-text{
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Gill Sans', sans-serif;
}
.hero-subtitle{
    font-size: 50px;
    color: #003f7d;
    margin-top: 30px;
    font-family: 'Gill Sans', sans-serif;
}
header {
    background-color: #003f7d;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}
p.section-text{
    font-size: 25px;
    margin: 20px 0;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
}
p marquee {
    font-family: 'Gill Sans', sans-serif;
}
p{
    font-family: 'Gill Sans', sans-serif;
}
h1{
    font-family: 'Gill Sans', sans-serif;
}
h2{
    font-family: 'Gill Sans', sans-serif;
}
a{
    font-family: 'Gill Sans', sans-serif;
}
.dropdown-item{
    font-family: 'Gill Sans', sans-serif;
}
.image{
    border-radius: 20px;
    margin-top: 30px;
    border: solid 5px #19a272;
}
.footer{
    background-color: #003f7d;
    color: white;
    padding: 10px 0;
    font-family: 'Gill Sans', sans-serif;
}
.programs-section {
  padding: 80px 40px;
  text-align: center;
}
.programs-title {
  font-size: 36px;
  color: #003f7d;
  margin-bottom: 50px;
  font-family: 'Gill Sans', sans-serif;
  font-size: 60px;
}
.programs-section {
  padding: 80px 40px;
  text-align: center;
}
.program-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.section-title {
  font-size: 36px;
  color: #003f7d;
  margin-bottom: 50px;
}
.program-card img {
  width: 300px;
  height: relative;
  object-fit: cover;
  border-radius: 20px;
}
.program-card:hover img {
  transform: scale(1.05);
}
.programs {
  text-align: center;
  padding: 60px 40px;
}
.campus-card img {
  width: 300px;
  height: relative;
  object-fit: cover;
  border-radius: 20px;
}
.campus-card:hover img {
  transform: scale(1.05);
}
.campus-text{
    font-family: 'Gill Sans', sans-serif;
    margin-bottom: 50px;
    font-size: 30px
}
.locations{
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    position: left: 1400px; top: 3300px;
}
.contact-title{
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    position: right: -150px; top: -19px;
}
.contact-number{
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    position: right: -200px; top: 40px;
}
.contact-email{
    font-family: 'Gill Sans', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    position: right: -235px; top: 80px;
}
footer{
    background-color: #003f7d;
    color: white;
    padding: 10px 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;
}
.semi-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 120px;
  padding: 80px 120px;
  background-color: white;
}
.footer-logo {
  height: 200px;
  margin-right: 60px;
}